@font-face {
  font-family: "virgo_displayregular";
  src: url("virgo_display-webfont.woff2") format("woff2"),
    url("virgo_display-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  list-style-type: none;
  scroll-behavior: smooth;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "virgo_displayregular";
  letter-spacing: 2px;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

section {
  display: flex;
  gap: 20px;
}
#jeu {
  position: relative;
  width: 1400px;
  height: 800px;
  background-image: url("decor.png");
  background-repeat: repeat-x;
  overflow: hidden;
  border-radius: 40px;
}

#overlay1,
#overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 800px;
  width: auto;
  pointer-events: none;
  image-rendering: pixelated;
}

#overlay1 {
  z-index: 10;
}

#overlay2 {
  z-index: 20;
}

#obstacles {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 100;
}

.obstacle {
  position: absolute;
  pointer-events: none;
  z-index: 200;
}

.overlay {
  position: absolute;
  pointer-events: none;
  z-index: 150;
  width: auto !important;
  height: auto !important;
  max-width: none !important;
  max-height: none !important;
}

.overlay-bas {
  bottom: 0;
}

.overlay-haut {
  top: 0;
}

#licorne {
  position: absolute;
  left: 120px;
  bottom: 0;
  width: 80px;
  z-index: 300;
}

#licorne-overlay {
  position: absolute;
  pointer-events: none;
  z-index: 250;
  width: auto !important;
  height: auto !important;
  max-width: none !important;
  max-height: none !important;
}
#hitbox-debug {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
}

#score {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 800;
  color: #ffffff;
  font-size: 42px;
  font-weight: bold;
}

#tableau-des-scores {
  background: url(back-score.png);
  background-repeat: no-repeat;
  background-position: center center;
  height: 800px;
  width: 260px;
  color: #c3fff4;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#game-over {
  display: none;
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
  background-color: rgb(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  background-position: center center;
  color: #c3fff4;
  border-radius: 40px;
  font-size: 40px;
}

#game-over button {
  background-color: #c3fff4;
  color: black;
  font-size: 40px;
  padding: 12px;
  margin-top: 18px;
  border-radius: 20px;
  padding-left: 18px;
  padding-right: 18px;
}

.score-ligne {
  display: flex;
  justify-content: center;
  text-align: center;
}

.score-ligne span {
  font-size: 20px;
  display: flex;
  margin-left: 8px;
  margin-right: 8px;
}
